
@font-face {
font-display: auto;
font-family: 'Apfel Grotezk';
font-style: normal;
font-weight: 500;
font-stretch: normal;
unicode-range: U+0-10FFFF;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fb28028a948385cb96594d0c1399b606d290314b3?generation=1765206824164988&alt=media') format('woff2');
}

@font-face {
font-display: auto;
font-family: 'Ronzino';
font-style: normal;
font-weight: 500;
font-stretch: normal;
unicode-range: U+0-10FFFF;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fc8fbb5dab7f4e5bd6d73ad8a5651a70d92645005?generation=1760473215432079&alt=media') format('woff2');
}

@font-face {
font-display: swap;
font-family: 'Inter Display';
font-style: normal;
font-weight: 600;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F3df74ea60cc57fb3765327bd257ef144a6138127?generation=1759751211298256&alt=media') format('woff2');
}

@font-face {
font-display: swap;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fbfe432fdebd80321ed03f445c0fa94cd01a99c3b?generation=1759780970207149&alt=media') format('woff2');
}

@font-face {
font-display: swap;
font-family: 'Inter Display';
font-style: normal;
font-weight: 500;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F8b05930dce3d10d176b42f876ea94d0115f0e948?generation=1759751211313719&alt=media') format('woff2');
}

@font-face {
font-display: swap;
font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-stretch: normal;
unicode-range: U+0-10FFFF;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F7f6de341cbc6058b8376bd8b26568d35b1d38fcf?generation=1759780970168670&alt=media') format('woff2');
}

@font-face {
font-display: swap;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2Fc83b48d9423c5dc13e8355b68def573fe377368a?generation=1759751211297823&alt=media') format('woff2');
}

@font-face {
font-display: swap;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-stretch: normal;
unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2070, U+2074-207E, U+2080-208E, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
src: url('https://storage.googleapis.com/download/storage/v1/b/prd-shared-services.firebasestorage.app/o/h2m-assets%2F1ab81cfcac2b37a777533f04c1c2c7671c047c2e?generation=1759751211330752&alt=media') format('woff2');
}
